@model OnlineHlslCompiler.ViewModels.HomeViewModel
@using OnlineHlslCompiler.Framework;
@using OnlineHlslCompiler.ViewModels;

<div class="row">
    <div class="col-sm-5 no-float">
        @Html.TextAreaFor(x => x.Code, new { @class = "form-control" })
        <a id="compileBtn" class="btn btn-primary" href="#" data-compile-url="@Url.Action("Compile")">Compile</a>
    </div>
    <div class="col-sm-2 no-float">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Settings</h3>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Compiler</label>
                    @Html.EnumDropDownListFor(x => x.Compiler, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Target profile</label>
                    @Html.DropDownListFor(x => x.TargetProfile, Enumerable.Empty<SelectListItem>(), new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Entry point</label>
                    @Html.TextBoxFor(x => x.EntryPointName, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-5 no-float">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Output</h3>
            </div>
            <div class="panel-body">
                <div id="disassemblyDiv"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var allTargetProfiles = {
            0: @Html.TargetProfilesAsJsonArray(Compiler.NewCompiler),
            1: @Html.TargetProfilesAsJsonArray(Compiler.OldCompiler)
        };
    </script>
    
    <script type="text/javascript" src="/Scripts/site.js"></script>
}