@model OnlineHlslCompiler.ViewModels.HomeViewModel
@using OnlineHlslCompiler.Framework;
@using OnlineHlslCompiler.ViewModels;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online HLSL Compiler</title>
    @Styles.Render("~/Content/css")

</head>
<body data-compile-url="@Url.Action("Compile")">
    <main>
        <div class="section-group">
            <section class="code">
                <header>
                    <h1>Code</h1>

                    <div class="compiler-options">
                        <div class="option">
                            @Html.EnumDropDownListFor(x => x.Compiler, new { @class = "form-control form-control-sm mr-sm-2" })
                        </div>
                        <div class="option">
                            @Html.DropDownListFor(x => x.TargetProfile, Enumerable.Empty<SelectListItem>(), new { @class = "form-control form-control-sm mr-sm-2" })
                        </div>
                        <div class="option">
                            @Html.TextBoxFor(x => x.EntryPointName, new { @class = "form-control form-control-sm", placeholder = "Entry point" })
                        </div>
                    </div>
                </header>
                <div class="content" id="code-editor-container">
                    @Html.TextAreaFor(x => x.Code, new { style = "display:none" })
                </div>
            </section>
        </div>

        <div class="section-group results">
            <section class="decompiled">
                <header>
                    <h1>Output</h1>

                    <div class="compiler-options">
                        <div class="input-group">
                            <select class="form-control form-control-sm" id="Output" name="Output">
                                <option selected="selected" value="0">Disassembly</option>
                                @*<option value="1">Abstract Syntax Tree (AST)</option>*@
                            </select>
                        </div>
                    </div>
                </header>
                <div class="content">
                    <div class="loader"></div>
                    <div id="disassembly-container"></div>
                </div>
            </section>
            <section class="errors">
                <header>
                    <h1>Errors</h1>
                </header>
                <div class="content">
                    <div class="loader"></div>
                    <div id="compiler-errors"></div>
                </div>
            </section>
        </div>
    </main>

    <footer>
        Built by <a href="http://timjones.io">Tim Jones</a>.
        See <a href="https://github.com/tgjones/TryHLSL">TryHLSL</a> on GitHub.
        <em>Inspired by <a href="http://tryroslyn.azurewebsites.net">TryRoslyn</a>.</em>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/codemirror")
    @Scripts.Render("~/bundles/spin")
    
    <script type="text/javascript">
        var allTargetProfiles = {
            0: @Html.TargetProfilesAsJsonArray(Compiler.NewCompiler),
            1: @Html.TargetProfilesAsJsonArray(Compiler.OldCompiler)
        };
    </script>

    <script type="text/javascript" src="/Scripts/site.js"></script>
</body>
</html>